{% extends "_layouts/base.html" %}

{% block page_title %}Items | {% endblock %}

{% block custom_assets %}
<link rel="stylesheet" href="{{ STATIC_URL }}font-awesome/css/font-awesome.css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-2.0.3.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dataTables.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $.extend($.fn.dataTable.defaults, {
           "bInfo": false
        });
       $("#item-table").dataTable( {
           "sPaginationType": "full_numbers",
           "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
       });
    });
</script>
<style>
    a.paginate_button, a.paginate_active {
        cursor: pointer;
        padding: 4px 12px;
        border: 1px solid #dddddd;
        border-left-width: 0;
        text-decoration: none;
    }
    a.paginate_button {
        background-color: #ffffff;
    }
    a.paginate_active {
        background-color: #f5f5f5;
        color: #999999;
    }
    a.paginate_button.first{
        -webkit-border-bottom-left-radius: 5px;
        border-bottom-left-radius: 5px;
        -webkit-border-top-left-radius: 5px;
        border-top-left-radius: 5px;
        border-left-width: 1px;
    }
    a.paginate_button.last{
        -webkit-border-bottom-right-radius: 5px;
        border-bottom-right-radius: 5px;
        -webkit-border-top-right-image: 5px;
        border-top-right-radius: 5px;
    }

    .dataTables_paginate {
        text-align: center;
    }
    #item-table_length {
        float: left;
    }
    #item-table_filter {
        float: right;
    }
    .sorting_asc:after {
        font-family: FontAwesome;
        content: " \f0de";
    }
    .sorting_desc:after {
        font-family: FontAwesome;
        content: " \f0dd";
    }


</style>
{% endblock %}

{% block page_content %}



<div class="container">
    <h2>Items</h2>
    <table id="item-table" class="table table-bordered table-hover">
        <thead><tr>
            <th>Name</th>
            <th>Buy Cost</th>
            <th>Sell Cost</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for item in item_list %}
        <tr>
            <td><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></td>
            <td>{{ item.buy_cost }}</td>
            <td>{{ item.sell_cost }}</td>
            <td>{{ item.description }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
